*,
*::before,
*::after {
  box-sizing: border-box;
}

h1{
  text-align: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Niconne', cursive;
  text-shadow: 1px 1px 0px #00fa9a,
               1px 2px 0px #00fa9a,
               1px 3px 0px #00fa9a,
               1px 4px 0px #00fa9a,
               1px 5px 0px #00fa9a,
               1px 6px 0px #00fa9a,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}


button{
  background-color: #00fa9a;
  margin: 5px;
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 20px;
}

.start{
  display: flex;
  justify-content: center;
}

#timer{
  margin: 10px;
  display:flex;
  justify-content: center;
  font-size:18px;
} 

html,
body{
  height: 100%;
  background: linear-gradient(325deg, #00fa9a 0% ,#0D98BA 50%, #00bfff 100%);
}

.grid{

  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.card{
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 90px;
  width: 90px;
  border-radius: 15px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background:  #00fa9a;
}

.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #6589F9;
}

@media screen and (min-width: 768px){
  .grid{
    max-width: 960px;
  }

  .card,
  .back,
  .front {
    height: 150px;
    width:150px;
  }

}